* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color:dodgerblue; 
}

table {
    border: 2px solid darkred;
    background-color: cyan;
    width: 700px;
    margin: 0 auto;
}

thead {
    background-color: rgb(110, 194, 169);
}

td {
    border-top: 1px solid darkred;
    
}

.code {
    background-color: rgb(155, 152, 124);
    font-family: monospace;
}